{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static  %}
{% block content %}
    <div class="section scrollspy">
    <div class="container">
        <br>
        <br>
        <h4 class="header text_b">Topics </h4>
        <div class="row">
            {% for obj in object_list %}
            {% if obj.language in request.path %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if  '/C/' in request.path   %}
                        <img class="activator" src="{% get_media_prefix %}{{ obj.image_chinese }} ">
                            {{  request.lang }}
                        {% elif '/R/' in request.path%}
                        <img class="activator" src="{% get_media_prefix %}{{ obj.image_russian }}">
                        {% elif '/K/' in request.path%}
                        <img class="activator" src="{% get_media_prefix %}{{ obj.image_russian }}">
                        {% endif %}
                    </div>

                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ obj.name }} <i class="mdi-navigation-more-vert right"></i></span>
                        {% if  '/C/' in request.path   %}
                        <p><a href="{% url 'home' %}cards/{{ obj.pk }}/C/">Explore cards related to this topic</a></p>
                        {% elif '/R/' in request.path%}
                        <p><a href="{% url 'home' %}cards/{{ obj.pk }}/R/">Explore cards related to this topic</a></p>
                        {% elif '/K/' in request.path%}
                        <p><a href="{% url 'home' %}cards/{{ obj.pk }}/K/">Explore cards related to this topic</a></p>
                        {% endif %}
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ obj.name }} <i class="mdi-navigation-close right"></i></span>
                        <p>{{ obj.description }}</p>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}